.row
  .span12
    .page-header
      %h1
        Bootstrap

.row
  .span12
    %h2.page-header
      Dropdown on hover
  .span12
    %p.well
      \.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button",
      %strong
        "data-hover" => "dropdown", "data-delay" => "500", "data-close-others" => "false"
      \}

    .btn-group
      %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button", "data-hover" => "dropdown", "data-delay" => "500", "data-close-others" => "false"}
        Dropdown on mouse hover
        %b.caret
      %ul.dropdown-menu{"aria-labelledby" => "drop1", :role => "menu"}
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
        %li.divider{:role => "presentation"}
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link


.row
  .span12
    %h2.page-header
      Buttons
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Button
          %th class=""
          %th Description
      %tbody
        %tr
          %td
            %button.btn{:type => "button"} Default
          %td
            %code btn
          %td Standard gray button with gradient
        %tr
          %td
            %button.btn.btn-primary{:type => "button"} Primary
          %td
            %code btn btn-primary
          %td Provides extra visual weight and identifies the primary action in a set of buttons
        %tr
          %td
            %button.btn.btn-info{:type => "button"} Info
          %td
            %code btn btn-info
          %td Used as an alternative to the default styles
        %tr
          %td
            %button.btn.btn-success{:type => "button"} Success
          %td
            %code btn btn-success
          %td Indicates a successful or positive action
        %tr
          %td
            %button.btn.btn-warning{:type => "button"} Warning
          %td
            %code btn btn-warning
          %td Indicates caution should be taken with this action
        %tr
          %td
            %button.btn.btn-danger{:type => "button"} Danger
          %td
            %code btn btn-danger
          %td Indicates a dangerous or potentially negative action
        %tr
          %td
            %button.btn.btn-inverse{:type => "button"} Inverse
          %td
            %code btn btn-inverse
          %td Alternate dark gray button, not tied to a semantic action or use
        %tr
          %td
            %button.btn.btn-link{:type => "button"} Link
          %td
            %code btn btn-link
          %td Deemphasize a button by making it look like a link while maintaining button behavior

.row
  .span12
    %h2.page-header
      Other buttons

  .span12
    .btn
      %i.icon-tint
      Default

    .btn.btn-primary
      %i.icon-spinner.icon-spin
      Spinner icon when loading content...

    .btn-group.open
      %a.btn.btn-info{:href => "#"}
        %i.icon-user
        User
      %a.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %span.icon-caret-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.icon-pencil
            Edit
        %li
          %a{:href => "#"}
            %i.icon-trash
            Delete
        %li
          %a{:href => "#"}
            %i.icon-ban-circle
            Ban
        %li.divider
        %li
          %a{:href => "#"}
            %i.i
            Make admin

    .btn-group{"data-toggle" => "buttons-radio"}
      %button.btn.btn-inverse.active{:type => "button"} Left
      %button.btn.btn-inverse{:type => "button"} Middle
      %button.btn.btn-inverse{:type => "button"} Right
.row
  .span6
    %br
    %p
      %a.btn{:href => "#"}
        %i.icon-repeat
        Reload
      %a.btn.btn-success{:href => "#"}
        %i.icon-shopping-cart.icon-large
        Checkout
      %a.btn.btn-danger{:href => "#"}
        %i.icon-trash.icon-large
        Delete
    %p
      %a.btn.btn-large.btn-primary{:href => "#"}
        %i.icon-comment
        Comment
      %a.btn.btn-small{:href => "#"}
        %i.icon-cog
        Settings
      %a.btn.btn-small.btn-info{:href => "#"}
        %i.icon-info-sign
        Info

  .span6
    .btn-toolbar
      .btn-group
        %a.btn{:href => "#"}
          %i.icon-align-left
        %a.btn{:href => "#"}
          %i.icon-align-center
        %a.btn{:href => "#"}
          %i.icon-align-right
        %a.btn{:href => "#"}
          %i.icon-align-justify

    %form
      .control-group
        .controls
          .input-prepend
            %span.add-on
              %i.icon-envelope
            %input#inputIcon.span2{:placeholder => "Email address", :type => "text"}/
      .control-group
        .controls
          .input-prepend
            %span.add-on
              %i.icon-key
            %input#inputIcon2.span2{:placeholder => "Password", :type => "text"}/
    %div
      %span.rating
        %span.star
        %span.star
        %span.star
        %span.star
        %span.star

.row
  .span12
    %h2.page-header
      Form
    %form.bs-docs-example.form-horizontal
      .control-group
        %label.control-label{:for => "inputEmail"} Email
        .controls
          %input#inputEmail{:placeholder => "Email", :type => "text"}/
      .control-group
        %label.control-label{:for => "inputPassword"} Password
        .controls
          %input#inputPassword{:placeholder => "Password", :type => "password"}/
      .control-group
        .controls
          %label.checkbox
            %input{:type => "checkbox"}/
            Remember me
          %button.btn{:type => "submit"} Sign in
.row
  .span12
    %h2.page-header
      Alert

    .alert.alert-block.alert-error.fade.in
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %h4.alert-heading Oh snap! You got an error!
      %p Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
      %p
        %a.btn.btn-danger{:href => "#"} Take this action
        %a.btn{:href => "#"} Or do this

    .alert.alert-success
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Well done!
      You successfully read this important alert message.
.row
  .span12
    %h2.page-header
      Progress bars
    .bs-docs-example
      .progress.progress-info{:style => "margin-bottom: 9px;"}
        .bar{:style => "width: 20%"}
      .progress.progress-success{:style => "margin-bottom: 9px;"}
        .bar{:style => "width: 40%"}
      .progress.progress-warning{:style => "margin-bottom: 9px;"}
        .bar{:style => "width: 60%"}
      .progress.progress-danger.active.progress-striped
        .bar{:style => "width: 80%"}