
.row
  .span12
    %h1.page-header
      %i.icon-external-link.icon-1x
      = link_to "Fuel UX", "http://exacttarget.github.com/fuelux/", target: "_blank"

.row
  .span12
    .well
      %form.form-horizontal
        %legend
          Form with Fuel UX (form-horizontal)
        .control-group
          %label.control-label{:for => "inputEmail"} Email
          .controls
            %input{:placeholder => "Email", :type => "text", disabled: "disabled" }/
        .control-group
          %label.control-label{:for => "inputPassword"} Password
          .controls
            %input{:placeholder => "Password", :type => "password"}/
        .control-group
          %label.control-label
            Checkbox Exemples
          .controls
            %label.checkbox
              %input{:type => "checkbox"}/
              Default
          .controls
            %label.checkbox
              %input{:type => "checkbox", :checked => "checked"}/
              Already checked
          .controls
            %label.checkbox
              %input{:type => "checkbox", :checked => "checked", :disabled => "disabled"}/
              Already checked and disabled
        .control-group
          %label.control-label
            Radio Exemples
          .controls
            %label.radio
              %input{:name => "radioA", :type => "radio"}/
              Default
          .controls
            %label.radio
              %input{:name => "radioA", :type => "radio", :checked => "checked"}/
              Already checked
          .controls
            %label.radio
              %input{:name => "radioA", :type => "radio", :disabled => "disabled"}/
              Disabled

        .control-group
          %label.control-label
            Combobox
          .controls
            .input-append.dropdown.combobox
              %input{:type => "text"}/
              %button.btn{"data-toggle" => "dropdown"}
                %i.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Item One
                %li
                  %a{:href => "#"} Item Two
                %li
                  %a{:href => "#"} Item Three
                %li.divider
                %li
                  %a{:href => "#"} Item After Divider

        .control-group
          %label.control-label
            Search
          .controls
            .input-append.search
              %input{:placeholder => "Search", :type => "text"}/
              %button.btn
                %i.icon-search

        .control-group
          %label.control-label
            Select (to be build by constructor)
          .controls
            .select.btn-group{"data-resize" => "auto"}
              %button.span3.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.dropdown-label
                %span.caret
              %ul.dropdown-menu
                %li{"data-value" => "1"}
                  %a{:href => "#"} One
                %li{"data-value" => "2"}
                  %a{:href => "#"} Two
                %li{"data-selected" => "true", "data-value" => "3"}
                  %a{:href => "#"} Three
                %li{"data-fizz" => "buzz", "data-value" => "4"}
                  %a{:href => "#"} Four

        .control-group
          %label.control-label
            Spinner
          .controls
            .spinner
              %input.input-mini.spinner-input{:type => "number"}/

.row
  .span12
    %h2.page-header
      %i.icon-external-link.icon-1x
      = link_to "Custom File Upload", "https://github.com/filamentgroup/jQuery-Custom-File-Input", target: "_blank"
    .well
      %form.form-horizontal
        .control-group
          %label.control-label
            Upload file
          .controls
            %input{ type: 'file' }

.row
  .span12
    %h2
      Wizard
    .wizard
      %ul.steps
        %li.active{"data-target" => "#step1"}
          %span.badge.badge-info> 1
          Step 1
          %span.chevron
        %li{"data-target" => "#step2"}
          %span.badge> 2
          Step 2
          %span.chevron
        %li{"data-target" => "#step3"}
          %span.badge> 3
          Step 3
          %span.chevron
        %li{"data-target" => "#step4"}
          %span.badge> 4
          Step 4
          %span.chevron
        %li{"data-target" => "#step5"}
          %span.badge> 5
          Step 5
          %span.chevron
      .actions
        %button.btn.btn-mini.btn-prev
          %i.icon-arrow-left>
          Prev
        %button.btn.btn-mini.btn-next{"data-last" => "Finish"}
          Next
          %i.icon-arrow-right
    .step-content
      #step1.step-pane.active This is step 1
      #step2.step-pane This is step 2
      #step3.step-pane This is step 3
      #step4.step-pane This is step 4
      #step5.step-pane This is step 5


