%h2
  Sellables

- @sellables.each do |sellable|
  .sellable-container
    .title
      = sellable.name

    - if sellable.images.length > 0
      .image
        = image_tag sellable.images.first.image.url(:thumb)

    = add_to_cart_form(sellable)
